<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Enter Detail</title>
  </head>
  <body>
    <h2>Enter Details</h2>
    <br>
    <form  action="/StudentDetails" method="post">
      <label>Student's Name</label>
      <input class="ml-2" name="capture">
      <button type="submit" name="butt" value="1" class="btn btn-primary ml-3">Submit</button>
    </form>

      <br>

      <form action="/StudentDetails" method="post">
      <label>Father Name</label>
      <input class="ml-2" name="capture">
      <button type="submit" name="butt" value="2" class="btn btn-primary ml-3">Submit</button>
      </form>

      <br>

      <form action="/StudentDetails" method="post">
      <label>Date of Birth</label>
      <input class="ml-2" name="capture" placeholder="dd/mm/yyyy">
      <button type="submit" name="butt" value="3" class="btn btn-primary ml-3">Submit</button>
      </form>

      <br>

      <form action="/StudentDetails" method="post">
      <label>Email</label>
      <input class="ml-2" type="email" name="capture">
      <button type="submit" name="butt" value="4" class="btn btn-primary ml-3">Submit</button>
    </form>

    <br>

    <form action="/StudentDetails" method="post">
    <label>Course</label>
    <input class="ml-2" name="capture">
    <button type="submit" name="butt" value="5" class="btn btn-primary ml-3">Submit</button>
    </form>

    <br>

    <form action="/StudentDetails" method="post">
    <label>Batch</label>
    <input class="ml-2" name="capture">
    <button type="submit" name="butt" value="6" class="btn btn-primary ml-3">Submit</button>
    </form>
    
	<br>
	
	<form action="/StudentDetails" method="post">
    <label>Mobile</label>
    <input class="ml-2" name="capture">
    <button type="submit" name="butt" value="9" class="btn btn-primary ml-3">Submit</button>
    </form>

    <br>
    <br>
    <br>
    <br>
    <h2>Submit Results</h2><br>

    <form action="/StudentDetails" method="post">
    <input class="ml-2" name="Subcode" placeholder="Subject Code">
    <input class="ml-2" name="grade" placeholder="GradeGot">
    <button type="submit" name="butt" value="7" class="btn btn-danger ml-3">Submit</button>
    </form>



    <br><br><br>

    <h2>Enter Attendance</h2><br>

    <form action="/StudentDetails" method="post">
    <input class="ml-2" placeholder="Subject Code" name="Subcode">
    <input class="ml-2" placeholder="Attended" name="attended">
    <input class="ml-2" placeholder="HeldClasses" name="held">
    <button type="submit" name="butt" value="8" class="btn btn-success ml-3">Submit</button>
    </form>



    <br><br>


  </body>
</html>
